.map1 {
    width: 600px;  /* Or whatever */
    height: 600px; /* Or whatever */
    margin: auto;  /* Magic! */
}

.map2 {
    width: 600px;  /* Or whatever */
    height: 600px; /* Or whatever */
    margin: auto;  /* Magic! */
}