.map1 {
    width: 800px;  /* Or whatever */
    height: 500px; /* Or whatever */
    margin: auto;  /* Magic! */
}

.map2 {
    width: 800px;  /* Or whatever */
    height: 500px; /* Or whatever */
    margin: auto;  /* Magic! */
}

.clear-button {
    margin-left: 20px;
}